<!DOCTYPE html>
<html lang="en">
<head>
    <include href="views/header.html"></include>
</head>
<body>
    <div class="container">
        <include href="views/title.html"></include>
        <include href="views/nav.html"></include>
        <include href="views/search.html"></include>
        <br>
        <div class="container d-flex">
            <h1>{{ @PARAMS.topic }}</h1>
            <div class="ms-auto p-2">
                <check if="{{isset(@SESSION['user'])}}">
                    <button onclick="window.location='{{ @PARAMS.topic }}/discussion-create'"
                            class="btn btn-secondary pt-0 pb-0 border-2 border-success-subtle">New Discussion
                    </button>
                </check>
            </div>
        </div>
        <hr class="border-3">
        <ul>
            <repeat group="@discussions" value="@discussion">
                <h4><a href="{{@PARAMS.topic}}/{{@discussion.id}}">{{@discussion.title}}</a></h4>
                <hr>
            </repeat>
        </ul>
    </div>
</body>
</html>