<!doctype html>
<html lang="en">
<head>
    <include href="views/header.html"></include>
</head>
<body>
<div class="container">
    <include href="views/head-nav.html"></include>
    <div class="mt-5 p-3 body">
        <h2><strong>Forums</strong></h2>
        <br>
        <div class="row justify-content-center ">
            <h2>Sorting Algorithms</h2>
            <hr class="border-3">
            <p>Bogosort</p>
            <h2>Data Structures</h2>
            <hr class="border-3">
            <p>ArrayList vs LinkedList</p>
        </div>
    </div>
</div>
</body>
</html>
