<!doctype html>
<html lang="en">
<head>
    <include href="views/header.html"></include>
</head>
<body>
<div class="container">
    <include href="views/title.html"></include>
    <include href="views/nav.html"></include>
    <include href="views/search.html"></include>
    <div class="row justify-content-center mt-5">
        <h2><strong>Forums</strong></h2>
        <br>
        <div class="row justify-content-center">
            <h2>Sorting Algorithms</h2>
            <hr class="border-3">
            <a href="">
                <h5>Bogosort</h5>
            </a>
            <p>The most efficient way to sort</p>
            <h2>Data Structures</h2>
            <hr class="border-3">
            <a href="">
                <h5>ArrayList vs LinkedList</h5>
            </a>
            <p>When is the right time to use each?</p>
        </div>
    </div>
</div>
</body>
</html>
