<!doctype html>
<html lang="en">
<head>
    <include href="views/header.html"></include>
</head>
<body>
<div class="container">
    <include href="views/title.html"></include>
    <include href="views/nav.html"></include>
    <include href="views/search.html"></include>
    <div class="row justify-content-center mt-5">
        <h2 class="extra-padding"><strong>Forums</strong></h2>
        <br>
        <div class="row justify-content-center">
            <div class="margin-bottom">
                <h2>Sorting Algorithms</h2>
                <hr class="border-3">
                <a href="">
                    <h4>Bogosort</h4>
                </a>
                <p>The most efficient way to sort</p>
                <hr>
                <a href="">
                    <h4>Quicksort</h4>
                </a>
                <p>Discussion about a lesser-known algorithm</p>
                <hr>
            </div>
            <div class="margin-bottom">
                <h2>Data Structures</h2>
                <hr class="border-3">
                <a href="">
                    <h4>ArrayList vs LinkedList</h4>
                </a>
                <p>When is the right time to use each?</p>
                <hr>
            </div>
        </div>
    </div>
</div>
</body>
</html>
