<check if="@activeDiscussion == 1">
    <true>
        <check if="{{isset(@SESSION['user'])}}">
            <true>
                <h1>New Post</h1>

                <form action="{{@BASE}}/{{@PARAMS.topic}}/{{@PARAMS.discussion}}" method="post" class="form-horizontal" id="post-create">
                    <p class="description">Replying to <strong>{{ @firstUser }}</strong> in <strong>{{@PARAMS.topic}} - {{ @discussionTitle }}</strong></p>
                    <!-- get body -->
                    <div class="form-group">
                        <label for="message" class="col-sm-4 control-label">Content: </label>
                        <div class="col-sm-4"><textarea class="form-control"
                                                        name="message" id="message"></textarea></div>
                        <br>
                        <button type="submit" class="btn btn-secondary pt-0 pb-0 border-2 border-success-subtle">Post</button>
                    </div>
                    <br>
                </form>
            </true>
            <false>
                <h3>Please log in to contribute to the discussion.</h3>
            </false>
        </check>
    </true>
    <false>
        <h3>Discussion has been closed.</h3>
    </false>
</check>