<exclude><!-- Eric Boyd] | v11May2024 | SDev 328 | --></exclude>
<div class="d-flex bg-light p-2">
    <div class="flex-fill">
        <h1>Computer Science Forum</h1>
    </div>
    <div class="">
        <check if="{{isset(@SESSION['userID'])}}">
            <true>
                <button onclick="window.location='{{@BASE}}/logout'" class="btn btn-secondary pt-0 pb-0 border-2 border-success-subtle">Log out</button>
            </true>
            <false>
                <button onclick="window.location='{{@BASE}}/loginForm'" class="btn btn-secondary pt-0 pb-0 border-2 border-success-subtle">Log In</button>
            </false>
        </check>
        <button onclick="window.location='{{@BASE}}/sign-up'" class="btn btn-secondary pt-0 pb-0 border-2 border-success-subtle">Sign Up</button>
        <button id="darkModeToggle" class="btn btn-secondary pt-0 pb-0 border-2 border-success-subtle ms-2">Toggle Dark Mode</button>
    </div>
</div>