hr {
    color: #c40000;
}

textarea {
    resize: none;
}

p.description {
    font-weight: bold;
    opacity: 0.8;
}

a {
    text-decoration: none;
    color: #c40000;
}

a:hover {
    color: #a30000;
}

.extra-padding {
    padding:1% 0;
}

.margin-bottom {
    margin-bottom: 1rem;
}
.bg-vim
{
    background-image: url("../images/VimBG.png");
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #1e1f22;
    color: #e0e0e0;
}

body.dark-mode a {
    color: #bb86fc;
}

body.dark-mode a:hover {
    color: #3700b3;
}

body.dark-mode .container {
    background: rgb(43, 45, 48);
    box-shadow: 0 4px 8px rgb(43, 45, 48);
}

body.dark-mode input[type="submit"] {
    background-color: #2b2d30;
    color: #121212;
}

body.dark-mode input[type="submit"]:hover {
    background-color: #3700b3;
}

body.dark-mode hr {
    color: #444;
}

body.dark-mode .alert {
    color: #fff;
}

body.dark-mode .navbar {
    background-color: #333;
}

body.dark-mode .btn {
    background-color: #444;
    color: #fff;
}

body.dark-mode .card {
    background-color: #333;
    color: #fff;
}

body.dark-mode h2 {
    color: #fff;
}

body.dark-mode .bg-light {
    background-color: #1e1f22 !important;
    color: #e0e0e0;
}

body.dark-mode .bg-light .nav-link {
    color: #e0e0e0;
}

body.dark-mode .bg-light .nav-link:hover {
    color: #bb86fc;
}
